
@import './playlist-content.css';
@import './playlist-category.css';
@import './playlist-info.css';

.playlistPage-container{
background: var(--gray50);
  background-size: cover;
  padding-inline: 2em;
}

.playlistPage-button{
  padding-block:  1.5rem;
}

/* .playlistPage-container .header{
  backdrop-filter: none;
} */