.playlistCategory-container{
  color: var(--white);
}
.playlistCategory{
  color:var(--white);
  display: flex;
  align-items: center;
  font: var(--baseFontNormal);
  justify-content: space-between;

}
.playlistCategory-title{
  display: flex;
  gap: 4.5rem;
  align-items: center;
}
.playlistCategory a{
  text-decoration: none;
  color: var(--white);

}

.playlistCategory-artist-column{
  display: flex;
  flex-direction: column;
}

.playlistImg-container{
  display: flex;
  align-items: center;
}

